<div class="pokemon-card">
  <h2>{{pokemonInformation.nombre}}</h2>
  <main>
    <a class="modal-btn" href="#modal-{{pokemonInformation.nombre}}">Detalles</a>
  </main>
  <section role="dialog" class="modal" id="modal-{{pokemonInformation.nombre}}" aria-labelledby="modal-title">
    <a class="modal-overlay" href="#" tabindex="-1"></a>
    <div class="modal-content">
      <a title="Close modal" href="#" class="modal-close">&times; </a>
      <h2 id="modal-title">{{pokemonInformation.nombre}}</h2>
      <img [src]="pokemonInformation.img" alt="{{pokemonInformation.nombre}}">
      <p>Types: <span *ngFor="let type of pokemonInformation.tipo">{{type}}</span></p>
      <table>
        <tr>
          <th>HP</th>
          <th>Attack</th>
          <th>Defense</th>
          <th>Sp. Attack</th>
          <th>Sp. Defense</th>
          <th>Speed</th>
        </tr>
        <tr>
          <td>{{pokemonInformation.hp}}</td>
          <td>{{pokemonInformation.atk}}</td>
          <td>{{pokemonInformation.def}}</td>
          <td>{{pokemonInformation.atkEsp}}</td>
          <td>{{pokemonInformation.defEsp}}</td>
          <td>{{pokemonInformation.vel}}</td>
        </tr>
      </table>
    </div>
  </section>
</div>
